<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#"
    data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
    data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
    style="width: #width#;height: #height#;#style#">

    <center class="widget-name">
        <span class="warning" title="#alert_name#">
            <i class='#alert_icon#'></i>
        </span>
        <span class="cmd pull-left cursor"
            style="margin-left: 3px;margin-top: 3px; color: var(--link-color) !important;">
            <a href="#mapurl#" target="_blank"><i class="icon kiko-marker-map tooltips"
                    title="Ouvrir la carte sur Blitzortung"></i></a>
        </span>
        <span id="#icon-blitz_#id#" class="cmd pull-right cursor"
            style="margin-left: 3px;margin-top: 3px; color: var(--link-color) !important;">
            <a href="#probablitz#"><i class="icon meteo-orage tooltips" title="Probabilité d'orage"></i></a>
        </span>
        <span class="cmd pull-right cursor"
            style="margin-left: 3px;margin-top: 3px; color: var(--link-color) !important;">
            <a href="#info#"><i class="fas fa-info tooltips" style="font-size: small;"
                    title="Impacts de foudre depuis #retention# heure(s) dans un rayon de #rayon# km"></i></a>
        </span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
            <i class="fas fa-sync"></i>
        </span>
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>

    <div class="cmds" style="text-align: center;">
        <div class="cmd cmd-widget history cursor" data-type="info" data-subtype="numeric" data-template="tile"
            data-cmd_id="#counter_id#">
            <div class="title">
                <div class="cmdName" style="max-width:none;">Impacts</div>
            </div>
            <div class="content-sm" style="display: flex; align-items: start; flex-direction: row; padding-top: 5px;">
                <span class="pull-right evolstate"></span>
                <span class="pull-right state"></span>
            </div>
        </div>
        <div class="cmd cmd-widget history cursor" data-type="info" data-subtype="numeric" data-template="tile"
            data-cmd_id="#distance_id#">
            <div class="title ">
                <div class="cmdName" style="max-width:none;">Distance</div>
            </div>
            <div class="content-sm" style="display: flex; align-items: start; flex-direction: row; padding-top: 5px;">
                <span class="pull-right evoldistance"></span>
                <span class="pull-right state"></span>
            </div>
        </div>
        <div class="cmd cmd-widget history cursor" data-type="info" data-subtype="numeric" data-template="tile"
            data-cmd_id="#cmdIdOrientation#">
            <div class="title ">
                <div class="cmdName" style="max-width:none;">Direction</div>
            </div>
            <div class="content-sm" style="display: flex;justify-content: center;">
                <svg id="SvgOrientation-#id#" data-v-47880d39="" width="30" height="30" viewBox="0 0 1000 1000"
                    enable-background="new 0 0 1000 1000" xml:space="preserve"
                    style="transform: scale(0.9) rotate(#orientationValue#deg);">
                    <g id="gOrientation-#id#" data-v-47880d39="" fill="#3C73A5">
                        <path data-v-47880d39=""
                            d="M510.5,749.6c-14.9-9.9-38.1-9.9-53.1,1.7l-262,207.3c-14.9,11.6-21.6,6.6-14.9-11.6L474,48.1c5-16.6,14.9-18.2,21.6,0l325,898.7c6.6,16.6-1.7,23.2-14.9,11.6L510.5,749.6z">
                        </path>
                        <path data-v-47880d39=""
                            d="M817.2,990c-8.3,0-16.6-3.3-26.5-9.9L497.2,769.5c-5-3.3-18.2-3.3-23.2,0L210.3,976.7c-19.9,16.6-41.5,14.9-51.4,0c-6.6-9.9-8.3-21.6-3.3-38.1L449.1,39.8C459,13.3,477.3,10,483.9,10c6.6,0,24.9,3.3,34.8,29.8l325,898.7c5,14.9,5,28.2-1.7,38.1C837.1,985,827.2,990,817.2,990z M485.6,716.4c14.9,0,28.2,5,39.8,11.6l255.4,182.4L485.6,92.9l-267,814.2l223.9-177.4C454.1,721.4,469,716.4,485.6,716.4z">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
    </div>

    <div id="highcharts-#id#">
        <figure id="figure-#id#" class="highcharts-figure" style="margin: 0px" ;>
            <div class="container" style="width: 100%;">
                <div id="CarouselBlitzortung-#id#" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item #item1active#">
                            <div class="chart" id="container-#id#" style="height: 300px;"></div>
                        </div>

                        <div class="item #item2active#">
                            <div class="chart" id="containerpolar-#id#" style="height: 300px;"></div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#CarouselBlitzortung-#id#" data-slide="prev" role="button">
                        <span class="fa fa-chevron-left"
                            style="position: absolute; left: 15%; bottom: 80px; border-left-style: solid;"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#CarouselBlitzortung-#id#" data-slide="next">
                        <span class="fa fa-chevron-right"
                            style="position: absolute; right: 15%; bottom: 80px; border-right-style: solid;"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </figure>
    </div>

    <script>
        if ('#refresh_id#' != '') {
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                jeedom.cmd.execute({ id: '#refresh_id#' });
            });
        } else {
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
        }

        // Gestion de l'affichage de l'icône orage
        if ('#proba-blitz_id#' == 1) {
            document.getElementById("#icon-blitz_#id#").style.display = 'block'; // Affichage
        } else {
            document.getElementById("#icon-blitz_#id#").style.display = 'none'; // Non affichage
        }

        // Gestion de l'affichage de l'évolution des impacts sur 15mn
        if ('#counterevolution_id#' != '') {
            jeedom.cmd.addUpdateFunction('#counterevolution_id#', function (_options) {
                var _target = document.querySelector('.cmd[data-cmd_id="#counter_id#"]')
                if (!_target) return;
                let v = _options.display_value
                if (v == 'Diminution') {
                    _target.querySelector('.evolstate').innerHTML = '<a href="#evolstate#"><i class="icon jeedomapp-dirDB tooltips" title="Diminution des impacts sur 15mn" style="font-size: 2.2em; padding-top: 3px;"></i></a>'
                } else if (v == 'Augmentation') {
                    _target.querySelector('.evolstate').innerHTML = '<a href="#evolstate#"><i class="icon jeedomapp-dirDH tooltips" title="Augmentation des impacts sur 15mn" style="font-size: 2.2em; padding-top: 3px;" ></i></a>'
                } else {
                    _target.querySelector('.evolstate').innerHTML = '<a href="#evolstate#"><i class="icon fas fa-minus tooltips" title="Aucune évolution sur 15mn" style="font-size: 1.8em; padding-top: 3px;"></i></a>'
                }
            });
            jeedom.cmd.refreshValue([{ cmd_id: '#counterevolution_id#', display_value: '#counterevolution_value#' }])
        }

        // Gestion de l'affichage du compteur d'impacts
        if ('#counter_id#' != '') {
            jeedom.cmd.addUpdateFunction('#counter_id#', function (_options) {
                var _target = document.querySelector('.cmd[data-cmd_id="#counter_id#"]')
                if (!_target) return;
                let v = _options.display_value
                if (v == '' || v == 0) {
                    v = '---'
                    document.getElementById("gOrientation-#id#").setAttribute("visibility", 'hidden')
                } else {
                    document.getElementById("gOrientation-#id#").setAttribute("visibility", 'visible')
                }
                if (v > 200) {
                    color = 'color: #EA251F'
                } else if (v > 50) {
                    color = 'color: #EA6E1E'
                } else {
                    color = ''
                }
                _target.setAttribute('title', 'Date de valeur : ' + _options.valueDate + '<br/>Date de collecte : ' + _options.collectDate);
                _target.querySelector('.state').innerHTML = '<i style="font-size: 0.8em;' + color + '">' + v + '</i>';
            });
            jeedom.cmd.refreshValue([{ cmd_id: '#counter_id#', display_value: '#counter_value#', valueDate: '#counter_valueDate#', collectDate: '#counter_collectDate#' }]);
        }

        // Gestion de l'affichage de l'évolution de la distance sur 15mn
        if ('#distanceevolution_id#' != '') {
            jeedom.cmd.addUpdateFunction('#distanceevolution_id#', function (_options) {
                var _target = document.querySelector('.cmd[data-cmd_id="#distance_id#"]')
                if (!_target) return;
                let v = _options.display_value
                if (v == 'Rapprochement') {
                    _target.querySelector('.evoldistance').innerHTML = '<a href="#evoldistance#"><i class="icon jeedomapp-dirDB tooltips" title="Rapprochement des impacts sur 15mn" style="font-size: 2.2em; padding-top: 3px;" ></i></a>'
                } else if (v == 'Eloignement') {
                    _target.querySelector('.evoldistance').innerHTML = '<a href="#evoldistance#" ><i class="icon jeedomapp-dirDB tooltips" title="Eloignement des impacts sur 15mn" style="font-size: 2.2em; padding-top: 3px;" ></i></a>'
                } else {
                    _target.querySelector('.evoldistance').innerHTML = '<a href="#evoldistance#"><i class="icon fas fa-minus tooltips" title="Aucune évolution sur 15mn" style="font-size: 1.8em; padding-top: 3px;" ></i></a>'
                }
            });
            jeedom.cmd.refreshValue([{ cmd_id: '#distanceevolution_id#', display_value: '#distanceevolution_value#' }])
        }

        // Gestion de l'affichage de la distance du dernier impact
        if ('#distance_id#' != '') {
            jeedom.cmd.addUpdateFunction('#distance_id#', function (_options) {
                var _target = document.querySelector('.cmd[data-cmd_id="#distance_id#"]')
                if (!_target) return;
                let v = _options.display_value
                let unit = ' ' + _options.unit
                if (v == '' || v == 0) {
                    v = '---'
                    color = ''
                } else {
                    if (v <= 10) {
                        color = 'color: #EA251F' // Texte en rouge
                    } else if (v <= 30) {
                        color = 'color: #EA6E1E' // Texte en Orange
                    } else {
                        color = 'color: #DFE150' // Texte en Jaune
                    }
                }
                _target.querySelector('.state').innerHTML = '<i style="font-size: 0.8em;' + color + '">' + v + unit + '</i>';
                _target.setAttribute('title', 'Date de valeur : ' + _options.valueDate + '<br/>Date de collecte : ' + _options.collectDate);
            });
            jeedom.cmd.refreshValue([{ cmd_id: '#distance_id#', display_value: '#distance_value#', unit: '#distance_unit#', valueDate: '#distance_valueDate#', collectDate: '#distance_collectDate#' }]);
        }

        jeedom.cmd.addUpdateFunction('#lastorientation_id#', function (_options) {
            var _target = document.getElementById("SvgOrientation-#id#")
            if (!_target) return;
            let o = _options.display_value
            _target.setAttribute("style", "transform: scale(0.9) rotate(" + o + "deg);")
        });
        jeedom.cmd.refreshValue([{ cmd_id: '#lastorientation_id#', display_value: '#lastorientation_value#' }])


        Highcharts.chart('container-#id#', {
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },

            credits: {
                text: 'Source : blitzortung.org'
            },

            navigation: {
                buttonOptions: {
                    enabled: false
                }
            },

            title: {
                style: { "color": "var(--txt-color)" },
                text: ''
            },

            subtitle: {
                useHTML: true,
                text: ''
            },

            yAxis: {
                title: {
                    text: 'Distance (km)'
                },
                min: 0,
                max: #rayon#
                },

            xAxis: {
                title: {
                    text: 'Minutes'
                },
                min: 0,
                max: #tsmax#,
                tickPositions: [#tickPositions#],
                labels: {
                    formatter: function () {
                        var time = this.value;
                        var min = parseInt(time / 60);
                        return min;
                    }
                }
            },

            tooltip: {
                useHTML: true,
                headerFormat: null,
                pointFormatter: function () {
                    return this.y + ' km il y a ' + Math.round(this.x / 60, 0) + ' minutes'
                }
            },

            legend: {
                enabled: false
            },

            plotOptions: {
                scatter: {
                    marker: {
                        radius: 2.5,
                        symbol: 'circle',

                    }
                }
            },

            series: [{
                keys: ['x', 'y'],
                data: [#data#],
                zoneAxis: 'y',
                zones: [{
                    value: 10,
                    color: '#EA251F'
                }, {
                    value: 30,
                    color: '#EA6E1E'
                },
                {
                    color: '#DFE150'
                }]
            }]
        });

        Highcharts.chart('containerpolar-#id#', {
            chart: {
                polar: true
            },

            credits: {
                text: 'Source : blitzortung.org'
            },

            navigation: {
                buttonOptions: {
                    enabled: false
                }
            },

            title: {
                text: ''
            },

            pane: {
                startAngle: 0,
                endAngle: 360
            },

            xAxis: {
                tickInterval: 45,
                min: 0,
                max: 360,
                labels: {
                    formatter: function () {
                        let label;
                        switch (this.value) {
                            case 0:
                                label = 'N';
                                break;
                            case 45:
                                label = 'NE';
                                break;
                            case 90:
                                label = 'E';
                                break;
                            case 135:
                                label = 'SE';
                                break;
                            case 180:
                                label = 'S';
                                break;
                            case 225:
                                label = 'SO';
                                break;
                            case 270:
                                label = 'O';
                                break;
                            case 315:
                                label = 'NO';
                                break;
                        }
                        return label;
                    }
                }
            },

            yAxis: {
                min: 0,
                max: #rayon#
            },

            tooltip: {
                useHTML: true,
                headerFormat: null,
                pointFormatter: function () {
                    return this.y + ' km à ' + this.x + '°'
                }
            },

            plotOptions: {
                scatter: {
                    marker: {
                        radius: 2.5,
                        symbol: 'circle',

                    }
                },
                series: {
                    pointStart: 0,
                    pointInterval: 1
                }
            },

            series: [{
                type: 'scatter',
                name: 'Moins récents',
                data: [#datapolar_lessrecent#], // Impacts les moins récents [[angle1, km1], [angle2, km2]]
                color: '#ffb366' // couleur moins foncée
            }, {
                type: 'scatter',
                name: 'Récents',
                data: [#datapolar_recent#], // Impacts les plus récents [[angle1, km1], [angle2, km2]]
                color: '#b35900' // Couleur plus foncée
            }]
        });


    </script>

    <style>
        .carousel-control {
            width: 5%;
            margin-left: -20px;
            margin-right: -20px;
        }
    </style>

</div>