<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#"
    data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
    data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
    style="width: #width#;height: #height#;#style#">
    <center class="widget-name">
        <span class="warning" title="#alert_name#">
            <i class='#alert_icon#'></i>
        </span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
            <i class="fas fa-sync"></i>
        </span>
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </center>

    <center>
        <div id="counter_hidden#id#" style="margin-top: 10px;font-size :14px;display:none;">Aucun impact depuis
            #retention# heure(s) dans un rayon de #rayon#
            km
        </div>
        <div id="lastdistance_hidden#id#" style="display:none;"></div>
    </center>

    <center>
        <div id="counter-#id#" class="cmd" style="margin-top: 10px;font-size :14px;">
            <span id="spanCounter-#cmdIdCounter#">#counter#</span> impacts depuis #retention# heure(s) sur un rayon de
            #rayon# km
        </div>

        <div id="lastdistance-#id#" class="cmd" style="margin-top: 10px;font-size :14px;">
            Dernier impact à <span id="spanDistance-#cmdIdDistance#">#lastdistance#</span> kilomètre(s)
        </div>
    </center>


    <div id="container-#id#" style="width: 550px; height: 400px; margin: 0 auto"></div>


    <div class="cursor pluginAction logoSecondary">
        <i class="icon kiko-marker-map"></i>
        <span><a href="#mapurl#" target="_blank">Ouvrir la carte sur Blitzortung</a></span>
    </div>

    <script>
        if ('#refresh_id#' != '') {
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                jeedom.cmd.execute({ id: '#refresh_id#' });
            });
        } else {
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
        }

        /*
          jeedom.cmd.addUpdateFunction('#cmdId#',function(_options) {
              $('#spanCounter-#cmdId#').text(_options.display_value);
          });
  
          jeedom.cmd.refreshValue([{cmd_id :'#cmdId#',display_value: '#stateId#'}])
          */


        jeedom.cmd.addUpdateFunction('#cmdIdCounter#', function (_options) {
            $('#spanCounter-#cmdIdCounter#').text(_options.display_value);
        });
        jeedom.cmd.refreshValue([{ cmd_id: '#cmdIdCounter#', display_value: '#stateCounter#' }])

        jeedom.cmd.addUpdateFunction('#cmdIdDistance#', function (_options) {
            $('#spanDistance-#cmdIdDistance#').text(_options.display_value);
        });
        jeedom.cmd.refreshValue([{ cmd_id: '#cmdIdDistance#', display_value: '#stateDistance#' }])


        /* Désactivation du bargraphe Aujourd'hui s'il n'existe pas de données */
        if ('#stateCounter#' == '' || '#stateCounter#' == 0) {
            document.getElementById("counter-#id#").style.display = "none";
            document.getElementById("lastdistance-#id#").style.display = "none";
            document.getElementById("counter_hidden#id#").style.display = "block";
            document.getElementById("lastdistance_hidden#id#").style.display = "block";
        }

        Highcharts.chart('container-#id#', {
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },

            title: {
                style: { "color": "var(--txt-color)" },
                text: 'Impacts de foudre dans un rayon de #rayon# km'
            },

            subtitle: {
                useHTML: true,
                text: ''
            },

            credits: {
                enabled: false
            },

            yAxis: {
                title: {
                    text: 'Distance (km)'
                }
            },

            xAxis: {
                title: {
                    text: 'Minutes'
                },
                min: 0,
                max: #tsmax#,
                //tickInterval: 60,
                labels: {
                    formatter: function () {
                        var time = this.value;
                        var min = parseInt(time / 60);
                        return min;
                    }
                }

            },

            tooltip: {
                useHTML: true,
                headerFormat: null,
                pointFormatter: function () {
                    return this.y + ' km il y a ' + Math.round(this.x / 60, 0) + ' minutes'
                }

            },

            legend: {
                enabled: true
            },

            plotOptions: {
                scatter: {
                    marker: {
                        radius: 2.5,
                        symbol: 'circle',

                    }
                }
            },

            series: [{
                keys: ['x', 'y'],
                color: "#E0FF43",
                name: "Impacts",
                data: [#data#]
            }]
        });
    </script>

</div>